<header class="header">
    <div class="navbar-title">API Recuperação</div>
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="item-navbar">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="item-navbar">Logout</a>
        {% else %}
             <a href="{{ url_for('login') }}" class="item-navbar">Login</a>
            <a href="{{ url_for('cadastro') }}" class="item-navbar">Cadastro</a>
        {% endif %}
    </div>
</header>